#!/bin/bash
pulseaudio &
wal -i ~/Pictures/wal/pink-anime.png
xrdb ~/.Xresources
lxsession &
dunst &
xss-lock -n /usr/share/doc/xss-lock/dim-screen.sh -- slock &

xgamma -gamma 0.8

#sudo ~/.lowbat.py &

while true; do
	sh .xroot
	sleep 15
done &
