#!/bin/bash

# restore the background
wal -i ~/Pictures/wal/002.png
xrdb ~/.Xresources
lxsession &
node ~/playerctl-firefox-youtube/server.js &
# time and date in dwm
while true; do
	sh .xroot
        sleep 5s
done &  

