st.font: Fira Code:pixelsize=12:antialias=true:autohint=true;

st.borderpx: 10
st.xfps: 120
st.actionfps: 30
st.cursorshape: 2
st.shell: /bin/fish



*termname:                 st-256color

! special
*.foreground:   #cfdcff
*.background:   #000113
*.cursorColor:  #cfdcff

! black
*.color0:       #000113
*.color8:       #7480a3

! red
*.color1:       #b40463
*.color9:       #b40463

! green
*.color2:       #db41fa
*.color10:      #db41fa

! yellow
*.color3:       #2b00ec
*.color11:      #0293ff

! blue
*.color4:       #0004ed
*.color12:      #0004f2

! magenta
*.color5:       #0817f6
*.color13:      #ff00b6

! cyan
*.color6:       #e200d9
*.color14:      #e200d9

! white
*.color7:       #b9cbff
*.color15:      #cbd7fc
