st.font: Fira Code:pixelsize=12:antialias=true:autohint=true;

st.borderpx: 10
st.xfps: 120
st.actionfps: 30
st.cursorshape: 2
st.shell: /bin/fish



*termname:                 st-256color
! special
*.foreground:   #a7b8e9
*.background:   #000113
*.cursorColor:  #a7b8e9

! black
*.color0:       #000113
*.color8:       #7480a3

! red
*.color1:       #b40463
*.color9:       #b40463

! green
*.color2:       #db41fa
*.color10:      #db41fa

! yellow
*.color3:       #3900ec
*.color11:      #3600df

! blue
*.color4:       #0004ed
*.color12:      #0004f2

! magenta
*.color5:       #360dd3
*.color13:      #360dd3

! cyan
*.color6:       #e200d9
*.color14:      #e200d9

! white
*.color7:       #a7b8e9
*.color15:      #a7b8e9

