st.font: FiraCode:pixelsize=12:antialias=true:autohint=true:style=regular;

st.borderpx: 4
st.xfps: 144
st.actionfps: 144
st.cursorshape: 2
st.shell: /bin/fish
Xft.dpi: 96



*termname: st-256color
! special
*.foreground:   #9ec5e8
*.background:   #000000
*.cursorColor:  #9ec5e8

! black
*.color0:       #00001c
*.color8:       #6e89a2

! red
*.color1:       #18348e
*.color9:       #18338e

! green
*.color2:       #215b9f
*.color10:      #21579f

! yellow
*.color3:       #6b0bb5
*.color11:      #671db5

! blue
*.color4:       #2d6bd3
*.color12:      #2d6bd3

! magenta
*.color5:       #3593ee
*.color13:      #3593ee

! cyan
*.color6:       #55bcdf
*.color14:      #36b4df

! white
*.color7:       #bad2e8
*.color15:      #b5d0e8

